<header class="navbar navbar-fixed-top">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="btn btn-primary" herf="#" id="showAside">Boards</a>
      <button type="button" class="btn btn-info main-icon">todo</button>
    </div>
    <nav role="navigation">
      <!-- toggle get grouped for better mobile display -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
            <input type="text" class="form-control" placeholder="Search">
            <button type="submit" class="btn btn-info">ok</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn btn-primary">Add</a></li>
          <li>
            <a href="#" class="btn btn-success">{{= name}}</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  
</header>
